$focus-bg-color: rgb(255, 255, 255);
$input-border-color: rgba(0, 5, 46, 0.406);
$input-border-focus-color: rgb(0, 255, 247);
.addProduct {
  position: relative;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.8rem;

    select {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0.3rem 0.6rem;
      outline: none;
      border: none;
      border-bottom: 1.5px solid $input-border-color;
      background-color: rgba(27, 1, 107, 0.8);
      color: white;
      overflow: hidden;
      backface-visibility: hidden;

      &:hover {
        background-color: rgba(27, 1, 107, 0.85);
      }

      option {
        color: rgb(22, 22, 22);
        font-size: 1.6rem;
        font-weight: 550;
        letter-spacing: 2px;
        background-color: white;
      }
    }

    input {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0.5rem 0.5rem;
      outline: none;
      border: none;
      border: 1px solid $input-border-color;
      border-radius: 0.3rem;
      color: rgba(62, 62, 62, 0.88);
      &::placeholder {
        color: rgba(0, 3, 36, 0.3);
      }

      &:focus {
        border: 1.5px solid $input-border-focus-color;
      }
    }

    textarea {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0.3rem 0.6rem;
      resize: none;
      color: rgba(62, 62, 62, 0.8);

      outline: none;
      border: none;
      border: 1px solid $input-border-color;
      background-color: whitesmoke;
      border-radius: 0.4rem;

      &:focus {
        border: 1.5px solid $input-border-focus-color;
        background-color: white;
      }

      &::placeholder {
        color: rgba(0, 3, 32, 0.3);
      }
    }

    .part-two {
      display: flex;
      align-items: start;
      gap: 1rem;

      .part-one {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1rem;
      }

      textarea {
        width: 50%;
      }
    }

    .long-desc {
      height: 30rem;
    }

    .short-desc {
      height: 15.4rem;
    }
  }

  .addBtn {
    background-color: rgba(0, 0, 82, 0.8);
    color: white;
    outline: none;
    border: none;
    padding: 0.5rem 0;
    font-weight: 700;
    font-size: 1.7rem;
    cursor: pointer;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: rgba(0, 0, 82, 0.85);
    }

    &:active {
      background-color: rgba(0, 0, 82, 0.8);
    }
  }

  .confirmation {
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    animation: moveUp 2s ease-out forwards;
    animation-iteration-count: 1;

    p {
      font-size: 2rem;
      color: white;
    }
  }
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(200%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
