.adminNav {
  width: 15rem;
  height: 100vh;
  position: relative;
  margin-right: 1rem;
  ul {
    width: 108%;
    position: absolute;
    top: 2.7rem;
    left: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgba(228, 228, 228, 0.114);
    height: 30vh;
    box-shadow: 0 0 0.2rem rgba(57, 57, 57, 0.523);
    li {
      a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-bottom: 1px solid rgba(57, 57, 57, 0.523);
        display: block;
        font-size: 1.5rem;
        transition: all 0.35s ease-out;
        font-weight: 500;
        color: rgb(33, 33, 33);
        padding: 1rem;
        transition: all 0.45s ease-out;
        background-image: linear-gradient(
          45deg,
          transparent 50%,
          rgba(21, 3, 66, 0.82) 50%
        );
        background-size: 330%;
      }

      a:hover {
        background-position: 100%;
        color: #ffffff;
      }
      a:active {
        opacity: 0.8;
      }
    }
  }
}
