.empty {
  width: 80%;
  max-height: 80vh;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  p {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }
}
